name: CI
run-name: CI triggered by @${{ github.action }} from @${{ github.actor }} of rev @${{ github.head_ref }}

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Test
        run: make test
